/* Default search. */
.search-form { 
	position: relative;
	overflow: hidden;
	border: 1px solid $color__border-input;
	background: white;
	label {
		display: block;
		width: 100%;
		padding: 15px 60px 15px 15px;
	}
	.search-field {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		font-size: 1rem;
		color: $color__text-main;
	}
	.search-field:focus {
		outline: none;
		color: $color__text-main;
	}
	.search-submit {
		display: block;
		height: 100%;
		width: 56px;
		background: none;
		border: 0;
		border-radius: 0;
		border-left: 1px solid $color__border-input;
		color: $color__text-main;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
	}
	.search-submit .genericon { 
		font-size: 24px; 
		position: relative;
		top: -1px;
		left: -3px;
	}
	.search-submit:hover,
	.search-submit:focus { 
		cursor: pointer; 
		color: $color__link-hover;
	}
}

/* Primary search. */
#primary-search {
	padding: 2rem 0;
	.search-form {
		padding: 0;
		border: 0;
		border-radius: 0;
		background: transparent;
		border-top: 2px solid white;
		border-bottom: 2px solid white;
		label {
			border: 0;
			background: transparent;
			padding-bottom: 0;
			padding-bottom: 1em;
			padding-left: 0;

		}
		.search-field {
			color: $color__text-light;
			font-size: 16px;
			font-size: 1rem;
			background: transparent;
		}
		.search-submit {
			color: $color__text-light;
			border: 0;
			padding: 0;
			width: 40px;
			&:hover,
			&:focus {
				color: $color__text-light;
			}
		}
		.search-submit .genericon {
			font-size: 16px;
			font-size: 1rem;
		}
		.search-submit:hover .genericon,
		.search-submit:focus .genericon {
			color: $color__link-hover;
		}
	}
}

@media screen and (min-width: $breakpoint-large) {
	/* Primary search. */
	#primary-search {
		padding: 2.5rem 0;
		.search-form {
			border: 0;
			.search-field {
				font-size: 24px;
				font-size: 2rem;
			}
			.search-submit {
				width: 48px;
			}
			.search-submit .genericon {
				font-size: 24px;
				font-size: 2rem;
			}
		}
	}
}