body,
button,
input,
select,
textarea {
  color: #202020;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
  font-family: "Open Sans", sans-serif; }

p {
  margin-bottom: 2em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote {
  quotes: "" "";
  margin: 0 0 1.5em 0;
  padding: 1.5em;
  color: #fff;
  background: #272829;
  border-left: 4px solid #cc0000;
  border-radius: 0 4px 4px 0;
  font-style: italic; }
  blockquote:before, blockquote:after {
    content: ""; }
  blockquote p {
    width: 100% !important;
    font-size: 20px;
    font-size: 1.25rem;
    font-size: 110%; }
  blockquote p:first-child {
    margin-top: 0; }
  blockquote p:last-child {
    margin-bottom: 0; }
  blockquote cite {
    display: block;
    margin-top: 6px;
    text-align: right;
    font-size: 14px;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: bold; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

@media screen and (min-width: 720px) {
  body {
    font-size: 17px;
    font-size: 1.0625rem; } }

@media screen and (min-width: 940px) {
  body {
    font-size: 18px;
    font-size: 1.125rem; } }

table {
  margin: 0 0 1.5em;
  width: 100%;
  max-width: 100%;
  border: 2px solid currentcolor;
  font-size: 16px;
  font-size: 1rem; }

thead tr {
  color: white;
  background: #272829; }

thead tr th,
tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
  border: 2px solid #272829; }

thead tr th {
  padding: 0.25rem; }

tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
  padding: 0.125rem 0.25rem; }

/* Fix border for the dark footer. */
.widget thead tr th,
.widget tbody tr th,
.widget tbody tr td,
.widget tfoot tr th,
.widget tfoot tr td {
  border-color: currentcolor; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Remove whitespace beneath image. */
img {
  vertical-align: text-bottom; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    font-size: 90%;
    font-style: italic; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }
